<header class="header">
    <div class="header__container">
        <div class="header__navigtion">
            <a href="/" class="header__link">News Feed</a>
        </div>
        <div class="controlPanel" id="header__controlPanel"></div>
    </div>
</header>